/*FONT*/


body{
    font-family: 'Rajdhani', sans-serif;
    color: #000;
    letter-spacing: 0.5px;
}
.no-padding{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.page-title{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-left: 10px;
    border-bottom: 2px solid #fff;
}
video{
    width: 100%;
    height: auto;
}
#cover-overlay{
    position: absolute;
    width: 100%;
    top: 50%;   
    text-align: center;
}
#cover-overlay h1{
    visibility: hidden;
    font-size: 80px;
}

  
a {
    display: inline-block;
    position: relative;
    text-align: center;
    color: #FF5252;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    top: 5px;
}
    
a:after {
    content: '';
    position: absolute;
    background: #FF5252;
    height: 2px;
    width: 0%;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    transition: .35s ease;
}
a:hover:after,
a:focus:after,
a:active:after {
    width: 100%;
}

.button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
} 
.button_container:hover {
    opacity: .7;
}
  
.button_container.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #fff;
}
.button_container.active .middle {
    opacity: 0;
    background: #fff;
} 
.button_container.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #fff;
    }

  
.button_container span {
    background: #FFF;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition:  all .35s ease;
    cursor: pointer;
}
span:nth-of-type(2) {
    top: 11px;
}
span:nth-of-type(3) {
    top: 22px;
}

.overlay {
  position: fixed;
  background: #333;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}  
.overlay.open {
    opacity: .98;
    visibility: visible;
    height: 100%;
    z-index: 99;
}   
.overlay.open li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;
}      
.overlay.open li:nth-of-type(2) {
    animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
    animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
    animation-delay: .50s;
}

nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-weight: 400;
    text-align: center;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%; 
}
li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
}  
li  a {
    display: block;
    position: relative;
    color: #FFF;
    text-decoration: none;
    overflow: hidden;
    font-size: 45px;
} 
li a:hover,
li a:focus,
li a:active{
    text-decoration: none;
    color: #fff;
}   
li a:hover:after,
li a:focus:after,
li a:active:after {
    width: 100%;
}
        
li  a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    transform: translateX(-50%);
    height: 3px;
    background: #fff;
    transition: .35s;
}
.work-section{
    background-image: url('../img/work-background.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 150px 0px;
}
.work-item{
    margin: 10px;
    position: relative;
}
.work-item .img-overlay{
    position: absolute;
    width: 100%;
    height: 0;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.85);
    transition: all .5s;
    overflow: hidden;
    transition: all .5s;
    text-align: center;
}
.work-item:hover .img-overlay{
    height: 100%;
}
.work-item .img-overlay a{
    margin-top: 33%
}
.work-item .img-overlay a:hover,
.work-item .img-overlay a:focus{
    text-decoration: none;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.photo{
    position: absolute;
    left: 22%;
    display: block;
    margin-top: 30%;
  }
  
  .photo img{
    width: 200px;
    height: 280px;
    object-fit: cover;
    filter: grayscale(100%) contrast(120%);
    box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
    display: block;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-top: -10px;
  }
  
  .photo:hover img{
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
  }
  
  .photo .glow-wrap{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    margin-top: -10px;
  }
  
  .photo .glow{
    display: block;
    position:absolute;
    width: 40%;
    height: 200%;
    background: rgba(255,255,255,.2);
    top: 0;
    filter: blur(5px);
    transform: rotate(45deg) translate(-450%, 0);
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .photo:hover .glow{
    transform: rotate(45deg) translate(450%, 0);
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .photo:hover img,
  .photo:hover .glow-wrap{
    margin-top: 0;
  }
  
  .photo h1{
    position: absolute;
    z-index: 1;
    transform: translate(-25%, -65%);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    line-height: 1.2;
  }
.about-me-section{
    padding: 150px 0px;
    background-color: #eee;
}
.about-me-section .imagery{
    position: relative;
}