body{
    font-family: 'Rajdhani', sans-serif;
    color: #000;
    letter-spacing: 0.5px;
    margin: 0px;
}
.no-padding{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.page-title{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 2px solid #fff;
    
    @include respond-to($tablet-portrait) {
        margin-left: 25px;
    }
}