nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    & ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        position: relative;
        height: 100%; 
        & li {
            display: block;
            height: 25%;
            height: calc(100% / 3);
            min-height: 50px;
            position: relative;
            opacity: 0;
            & a {
                display: block;
                position: relative;
                color: #FFF;
                text-decoration: none;
                overflow: hidden;
                font-size: 45px;
                &:hover,
                &:focus,
                &:active{
                    text-decoration: none;
                    color: #fff;                    
                }

                &:hover:after,
                &:focus:after,
                &:active:after {
                    width: 100%;
                }

                &:after{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 0%;
                    transform: translateX(-50%);
                    height: 3px;
                    background: #fff;
                    transition: .35s;                    
                }
            } 
        }
    }
}